
body {
  text-align: center;
  color: rgb(87, 85, 180);
  background-color: skyblue;
}

img {
  width: 150px;
  height: 150px;
}

h1 {
  border-style: double;
  border-radius: 10px;
  border-width: 20px;
  border-color: black;
  margin-left: 25%;
  margin-right: 25%;
  color: black;
}

.freeagent {
  padding: 10px;
  
}

form {
  padding: 5px;
  border-style: double;
  border-color: black;
  border-radius: 10px;
  border-width: 10px;
  background-color: rgb(120, 133, 190);
}

button {
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.75em 1.5em;
  transition: opacity 0.2s ease;
  border-style: double;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 0%;
}

/* 

p {
  font-size: 1.5em;
  color: black;
  font-family: Helvetica;
}

ul {
  height: 90%;
  width: 90%;
}

li {
  font-size: 1.05em;
  list-style: none;
  padding-right: 20px;
}

button {
  font-size: .65em;
  color: #fff;
  background-color: green;
  border-radius: 10px;
} */

.team-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.facard {
  background-color: #eeeeee;
  height: 100%;
  width: 400px;
  box-shadow: 10px 10px grey;
  padding: 5px;
  border-radius: 10px;
}

